<html>
	<head>
		<title>Welcome to Vanity</title>
		<link href='https://fonts.googleapis.com/css?family=Space+Mono' rel='stylesheet' />
		<style>
			body {
				font-family: 'Space Mono', monospace;
				text-rendering: optimizeLegibility;
			}

			.container {
				background-color: #EFEFEF;
				text-align: center;
				width: 70%;
				margin: 0 auto;
				padding: 40px;
			}

			.heading {
				padding: 0 3% 2px 3%;
			}

			.heading h1 {
				font-size: 2.5em;
			}

			.heading h3 {
				font-weight: 400;
			}

			.metrics {
				width: 80%;
				margin: 0 auto;
			}

			.metrics ol, .footer ul {
				list-style-type: none;
				padding: 0;
			}

			.metrics .no-repos {
				font-weight: bold;
				font-style: italic;
				padding-bottom: 20px;
			}

			.metrics li {
				display: inline;
			}

			.repo {
				padding-bottom: 15px;
			}

			.repo h4 {
				font-size: 1em;
				font-weight: bold;
				margin: 0;
			}

			.repo .content {
				background-color: #F8F8F8;
				border-radius: 10px;
				width: 100%;
				margin: 0 auto;
				padding: 10px 0 10px;
			}

			.repo .content .name {
				font-weight: 500;
				padding: 0 20px 5px 20px;
			}

			.stats li {
				display: inline-block;
				padding: 2px;
			}

			.stats ol {
				padding: 0 15px 0 15px;
			}

			a {
				color: black;
				text-decoration: none;
			}

			.footer ul {
				display: block;
			}

			.footer li {
				margin-bottom: 5px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="heading">
				<h1>V A N I T Y</h1>
				<p>Thanks for signing up for Vanity!</p>
				<p>
					This is what your metrics newsletters will look like,
					minus the weekly comparison.
				</p>
			</div>

			<div class="metrics">
				<% if (metrics.length > 0) { %>
					<ol>
					<% for (const repo of metrics) { %>
						<div class="repo">
							<div class="content">
								<div class="name">
									<h4><%= repo.name %></h4>
								</div>
								<div class="stats">
									<ol>
										<% for (const metric of Object.keys(repo).filter(key => key !== 'name')) { %>
											<li class="<%= metric %>">
												<%= repo[metric] %> <%= repo[metric] === 1 ? metric.slice(0,-1) : metric %>
											</li>
										<% } %>
									</ol>
								</div>
							</div>
						</div>
					<% } %>
					</ol>
				<% } else { %>
					<p class="no-repos">
						It seems like you don&apos;t have any repos yet.
						Come back once you&apos;ve made a few.
					</p>
				<% } %>
			</div>

			<div class="footer">
				<ul>
					<li><a href="https://vanity.dev" target="_blank" class="dim">Vanity</a> &copy; 2020</li>
					<li><a href="https://vanity.dev/login" target="_blank" class="dim">Update your preferences</a></li>
					<li><a href="https://vanity.dev/unsubscribe?email=<%= user.email %>&token=<%= user.unsubscriptionToken %>" target="_blank" class="dim">Unsubscribe</a></li>
				</ul>
			</div>
		</div>
	</body>
</html>
